.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
}

.gameCont {
  width: 80%;
  height: 60vh;
  background-color: rgba(240, 248, 255, 0.897);
  border-radius: 15px;
  
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
