.gameCont {
  width: 80%;
  height: 60vh;
  background-color: #f0f8ffe5;
  border-radius: 15px;
  display: flex;
}
.computerResultCont {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userResultCont {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.valueButton {
  padding: 11px;
  margin: 0 auto;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
